.chart-icon {display: inline-block;width: 50px;height: 50px;background-size: 100% 100%;background-position: center;background-repeat: no-repeat;}
.chart-icon.gray {filter: grayscale(1);}
.chart-icon.table-icon {background-image: url(./charts/table.svg);}
.chart-icon.pivottable-icon {background-image: url(./charts/pivottable.svg);}
.chart-icon.pie-icon {background-image: url(./charts/pie.svg);}
.chart-icon.circle-icon {background-image: url(./charts/circle.svg);}
.chart-icon.funnel-icon {background-image: url(./charts/funnel.svg);}
.chart-icon.column-icon {background-image: url(./charts/column.svg);}
.chart-icon.stackedcolumn-icon {background-image: url(./charts/stackedcolumn.svg);}
.chart-icon.bar-icon {background-image: url(./charts/bar.svg);}
.chart-icon.stackedbarcolumn-icon {background-image: url(./charts/stackedbarcolumn.svg);}
.chart-icon.line-icon {background-image: url(./charts/line.svg);}
.chart-icon.scatter-icon {background-image: url(./charts/scatter.svg);}
.chart-icon.area-icon {background-image: url(./charts/area.svg);}
.chart-icon.matchstick-icon {background-image: url(./charts/matchstick.svg);}
.chart-icon.bubble-icon {background-image: url(./charts/bubble.svg);}
.chart-icon.pareto-icon {background-image: url(./charts/pareto.svg);}
.chart-icon.combination-icon {background-image: url(./charts/combination.svg);}
.chart-icon.spiralcolumn-icon {background-image: url(./charts/spiralcolumn.svg);}
.chart-icon.waterfall-icon {background-image: url(./charts/waterfall.svg);}
.chart-icon.sunburst-icon {background-image: url(./charts/sunburst.svg);}
.chart-icon.recttree-icon {background-image: url(./charts/recttree.svg);}
.chart-icon.pack-icon {background-image: url(./charts/pack.svg);}
.chart-icon.radar-icon {background-image: url(./charts/radar.svg);}
.chart-icon.wordcloud-icon {background-image: url(./charts/wordcloud.svg);}
.chart-icon.kpi-icon {background-image: url(./charts/kpi.svg);}
.chart-icon.instrument-icon {background-image: url(./charts/instrument.svg);}
.chart-icon.bullet-icon {background-image: url(./charts/bullet.svg);}
.chart-icon.calendar-icon {background-image: url(./charts/calendar.svg);}
.chart-icon.boxplot-icon {background-image: url(./charts/boxplot.svg);}
.chart-icon.chord-icon {background-image: url(./charts/chord.svg);}
.chart-icon.sankey-icon {background-image: url(./charts/sankey.svg);}
.chart-icon.parallel-icon {background-image: url(./charts/parallel.svg);}
.chart-icon.region-icon {background-image: url(./charts/region.svg);}
.chart-icon.llMap-icon {background-image: url(./charts/llMap.svg);}
.chart-icon.orbit-icon {background-image: url(./charts/orbit.svg);}
.chart-icon.llbubble-icon {background-image: url(./charts/llbubble.svg);}
.chart-icon.llheat-icon {background-image: url(./charts/llheat.svg);}
.chart-icon.llrect-icon {background-image: url(./charts/llrect.svg);}
.chart-icon.timecolumn-icon {background-image: url(./charts/timecolumn.svg);}
.chart-icon.timebubble-icon {background-image: url(./charts/timebubble.svg);}
.chart-icon.timebar-icon {background-image: url(./charts/timebar.svg);}
.chart-icon.timescatter-icon {background-image: url(./charts/timescatter.svg);}
.chart-icon.image-icon {background-image: url(../images/charts/image.svg);}
.chart-icon.title-icon {background-image: url(../images/charts/title.svg);}
.chart-icon.text-icon {background-image: url(../images/charts/text.svg);}